@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vibes;
  src: url("../public/fonts/SKCuber-ExpandedRounded.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
.booth {
  background-image: url("/booth.png");
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
